git+https://git.direct-netware.de/dpt/builder_suite/@v1.0.0#egg=dpt-builder-suite
git+https://git.direct-netware.de/dpt/plugins/@v1.0.0#egg=dpt-plugins
git+https://git.direct-netware.de/dpt/runtime/@v1.0.1#egg=dpt-runtime
git+https://git.direct-netware.de/dpt/threading/@v1.0.0#egg=dpt-threading
